  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    --branco: #FEFEFE;
    --preto: #000000;
    --azul-botao: #2639ED;
    --fonte-subtitulo: 2.5em;
    --cinza-texto: #757575;
    --fonte: 'Comfortaa';
}

body {
    background: var(--branco);
}

.container-conteudo-topo {
    margin-left: 8%;
}

/* Cabeçalho */
.cabecalho-opcoes {
    display: flex;
    justify-content: flex-end;
    margin-right: 13%;
    margin-top: 2.5rem;
}

.cabecalho-link {
    margin-right: 6em;
    width: auto;
    height: 1rem;
    font-family: var(--fonte);
}

.cabecalho-link a {
    text-decoration: none;
    color: var(--preto);
}

.titulo {
    font-size: 28px;
    padding-top: .7em;
    font-family: var(--fonte);
}

.subtitulo {
    font-family: var(--fonte);  
    font-size: 40px;
}

.paragrafo {
    color:var(--cinza-texto);
    font-family: var(--fonte);
}

.sobre {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.sobre-conteudo {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 28%;
}

.sobre-title {
    padding-bottom: 1em;
    width: auto;
}

.sobre-description {
    line-height: 160%;
    padding-right: 2rem;
    padding-bottom: 2em;
}

.sobre-button {
    background-color: var(--azul-botao);
    font-size: 20px;
    color: var(--branco);
    padding: 1em 2em;
    border-radius: 60px;
    border: none;
    width: 45%;
}

.sobre-image {
    width: 70rem;

}

.clientes {
    margin-top: 10%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}

.conteudo {
    margin-left: 8%;
    display:flex;
    flex-direction: column;
    width: 15%;
}


.clientes-description {
    padding-top: 1em;
    width: 100%;
}


.clientes-imagens {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin-right: 8%;
}

.diferenciais {
    margin: 10% 0 10% 8%;
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.background-diferenciais {
    background-image: url(retangulo-azul-diferenciais.png);
    background-position: right center;
}

.diferenciais-conteudo {
    display:flex;
    flex-direction: column;
}

.diferenciais-title {
    width: 50%;
}

.diferenciais-paragrafo {
    padding-top: 2em;
    width: 60%;
}

.footer {
    display: flex;
    margin: 8%;
    justify-content: space-between;
}

.texto-icones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

.footer-paragrafo {
    width: auto;
    margin-bottom: 1.5em;
    font-family: var(--fonte);
}

.footer-colunas {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: var(--fonte);
}

.colunas-titulo {
    margin-bottom: 1.5em;
    font-family: var(--fonte);
}