  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    --branco: #FEFEFE;
    --preto: #000000;
    --azul-botao: #2639ED;
    --fonte-subtitulo: 2.5em;
    --tamanho-h3: 24px;
    --cinza-texto: #757575;
    --fonte: 'Comfortaa';
}

body {
    background: var(--branco);
}

.conteudo {
    position: relative;
}

.container-conteudo-topo {
    margin-left: 8%;
}

/* Cabeçalho */
.cabecalho-opcoes {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: 2.5rem;
}

.cabecalho-link {
    margin-right: 4em;
    width: auto;
    height: 1rem;
    font-family: var(--fonte);
}

.cabecalho-link a {
    text-decoration: none;
    color: var(--preto);
}

.titulo {
    font-size: 28px;
    padding-top: .7em;
    font-family: var(--fonte);
}

.subtitulo {
    font-family: var(--fonte);  
    font-size: 40px;
    font-weight: bold;
}

.paragrafo {
    color:var(--cinza-texto);
    font-family: var(--fonte);
}

.sobre {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.sobre-conteudo {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 37vw;
}

.sobre-title {
    padding-bottom: 1em;
    width: auto;
}

.sobre-description {
    line-height: 160%;
    padding-right: 2rem;
    padding-bottom: 2em;
}

.sobre-button {
    background-color: var(--azul-botao);
    font-size: 20px;
    color: var(--branco);
    padding: 1em 2em;
    border-radius: 60px;
    border: none;
    width: 50%;
}

.sobre-image {
    width: 45vw;

}

.clientes {
    margin-top: 10%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}

.clientes-texto {
    margin-left: 8%;
    display:flex;
    flex-direction: column;
    width: 15%;
}


.clientes-description {
    padding-top: 1em;
    width: 100%;
}


.clientes-imagens {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin-right: 8%;
}

.diferenciais {
    display: flex;
    align-items: center;
    position: relative;
    height: 867px;
    width: 92%;
    margin: 8% 0 6% 0;
    padding-left: 8%;
}


.diferenciais-texto {
    position: relative;
    width: 45%;
}

.quadrado-rosa {
    position: absolute;
    width: 178px;
    height: 178px;
    left: -36px;
    top: -60px;

    background: #FFF5DB;
    border-radius: 100px 0px 0px 0px;
    z-index: -1;
}

.diferenciais-title {
    width: 80%;
}

.diferenciais-paragrafo {
    padding-top: 3em;
    width: 90%;
}

.quadrado-azul-diferenciais {
    position: absolute;
    width: 1047px;
    height: 619px;
    right: 0;
    background: #cce1fa;
    border-radius: 150px 0px 0px 0px;

    z-index: -1;
}

.circulo-rosa {
    position: absolute;
    right: 143px;
    top: 690px;
    z-index: -2;
}

.dots-background {
    position: absolute;
    top: 628px;
    left: 125px;
    z-index: -2;
}

.diferenciais-banner {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    gap: 30px 34px;
    width: 70%;
    height: 108%;
    padding-right: 10%;
}

.cards-diferenciais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 379px;
    background: var(--branco);
    border-radius: 40px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
}

#card-1 {
    margin-top: 79px;
}

.quadrado {
    display: flex;
    justify-content: center;
    width: 121px;
    height: 121px;
    border-radius: 20px;
}

#quadrado-1 {
    background: #F1F7FF;
}

.diferenciais-card-titulo {
    font-size: var(--tamanho-h3);
    text-align: center;
    line-height: 2rem;
    margin: 1.3rem 3rem 1rem 3rem;
    font-family: var(--fonte);
}

.diferenciais-card-paragrafo {
    font-family: var(--fonte);
    color: var(--cinza-texto);
    text-align: center;
    line-height: 1.5rem;
}

#quadrado-2 {
    background: #FFF2F8;
}

#quadrado-3 {
    background: #FFF7E3;
}

#quadrado-4 {
    background: #DEFFEE;
}

/* Objetivo */
.objetivo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 436px;
    padding: 0 8%;   
}

.objetivo-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.objetivo-imagem {
    position: relative;
    width: 550px;
    height: 372px;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
}

.botao-video {
    position: absolute;
    z-index: 2;
}

.circulo-amarelo {
    position: absolute;
    width: 129px;
    height: 129px;
    z-index: -2;
    top: 75%;
    left: 40%;
    border-radius: 323232%;
    background: #FFF5DB;
}

.objetivo-texto {
    width: 50%;
}

.titulo-objetivo {
    width: 70%;
}

.paragrafo-objetivo {
    margin-top: 1rem;
    line-height: 1.5rem;
}

.quadrado-azul-objetivo {
    position: absolute;
    z-index: -1;
    width: 178px;
    height: 178px;
    top: 15%;
    right: 40%;

    background: #dfe2f8;
    border-radius: 0px 0px 100px 0px;
}

.inscricao {
    margin: 10% 8% 0 8%;
    position: relative;
    padding: 0 8%;
    height: 292px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #F4F9FF;
    border-radius: 75px;
}


.paragrafo-inscricao {
    margin-top: 1.5rem;
}

.card-input {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    width: 479px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
}

.input-inscricao {
    width: 40%;
    border: 0 none;
    margin-left: 7%;
}

.botao-inscricao {
    position: relative;
    width: 188px;
    height: 60px;
    margin-right: 2%;

    color: var(--branco);
    font-weight: bold;
    font-family: var(--fonte);

    background: var(--azul-botao);
    border-radius: 60px;
    border: 0 none;
}


.forma-azul-escuro {
    position: absolute;
    right: 0;
    z-index: 1;
}

.quadrado-rosa-inscricao {
    position: absolute;
    width: 178px;
    height: 178px;
    top: 50%;
    left: -2.5%;
    z-index: -1;

    background: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    transform: rotate(90deg);
}

.dots-inscricao {
    position: absolute;
    top: -20%;
    right: -3%;
}

/* Footer */
.footer {
    display: flex;
    margin: 8%;
    justify-content: space-between;
}

.texto-icones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

.footer-paragrafo {
    width: 85%;
    line-height: 1.5rem;
    margin-bottom: 1.5em;
}

.icones {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer-colunas {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: var(--fonte);
}

.colunas-titulo {
    margin-bottom: 1.5em;
    font-family: var(--fonte);
}
